*{
    margin: 0;
    padding:0;
    
}
body{
    background-color: #ffe4c4;
}
.top{
    width: 120%; 
    height: 7rem; 
    background-image: url(images/bg4.jpg);
    position: relative;
    
}
.title-img{
    position: absolute;
    top:1rem;
    left: 1rem;
    background-color: #ae8368c2;
    border-radius: 20px;
    height:5rem;
    width:25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top img{
    height:3rem;
    width:20rem;
}
.notes{
    margin: 3rem;
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,13rem);
    gap: 20px;
}
.banner{
    height:4.3rem;
    width: 12.5em;
}
.banner img{
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    object-fit:cover;
}
.note{
    box-shadow:  6px 6px 12px #d5c8b8,
    -6px -6px 12px #e1cdb4;
    position: relative;
    margin:0;
    height:13rem;
    width:12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(254, 240, 223);
    border-radius: 20px;
}
textarea{
    margin: 0.8rem;
    border: none;
    resize: none;
    width:11rem;
    height: 5rem;
    background-color:rgb(254, 240, 223);
}
.ops{
    margin-right: 2rem;
    height:0.8rem;
    width:12rem;
    display:flex;
    align-items: end;
    justify-content: flex-end;
}
.fab{
    position:fixed;  
    bottom:50px;  
    right:50px;  
    cursor:pointer;   
}
.fab{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color:#ae8368c2;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
@media(max-width:768px){
    

}