@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(246, 233, 217);
}
#banner{
    height:100px;
    width: 100vw;
    display: flex;
    align-items: center;
    background-image: url("images/bg4.jpg");
}
.title{
    margin-left: 20px;
    background-color: rgb(176, 146, 131);
    width:300px;
    height:70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title img{
    height:40px;
    width:270px;
}

#add-btn{
    margin: 20px auto auto 20px;
    color:rgb(108, 88, 75);
    width:80px;
    position: sticky;
    height:30px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    box-shadow:  6px 6px 12px #d5c8b8,
    -6px -6px 12px #e1cdb4c0;
    background-color:rgb(195, 168, 158);
}

#notes-container{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}
.note{
    width:150px;
    height:150px;
    background-color:rgb(254, 240, 223);
    box-shadow:  6px 6px 12px #d5c8b8,
    -6px -6px 12px #e1cdb4c0;
    border-radius: 20px;
    
}
.note .note-banner{
    width: 150px;
}
.note .note-banner img{
    width:150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text{
    margin: auto 10px auto 10px;
}
#delete{
    margin: 20px 20px auto 110px;
    cursor: pointer;
   
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height:100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5); 
    visibility: hidden;
}
#popup{
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:200px;
    width:200px;
    background-color:rgb(254, 240, 223);
    box-shadow:  6px 6px 12px #68635ccc,
    -6px -6px 12px #81786d89;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    visibility: hidden;
}
#popup textarea{
    all: unset;
    max-width: 150px;
    border: solid rgb(195, 168, 158);
    resize: none;
    padding: 5px;
    border-radius: 10px;

}
.text{
    font-size: 12px;
}
.buttons{
    display: flex;
    width:100%;
    justify-content: space-evenly;
}
#save, #close{
    all: unset;
    padding: 6px;
    background-color: rgb(195, 168, 158);
    border-radius: 10px;
    color:rgb(86, 70, 60);
}
h3{
    color: rgb(109, 94, 88);
}
@media(max-width:800px){
    #banner{
        justify-content: center;
    }
    .title{
        margin-left: 0px;
    }
}